.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  height: 50px;
  background: lightgoldenrodyellow;
}

.main {
  grid-column: span 2;
  grid-row: span 2;
}
